<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423506726732-veuhlpvlg0sbcqp2its999fhai5g50h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423506726732-veuhlpvlg0sbcqp2its999fhai5g50h2</string>
	<key>API_KEY</key>
	<string>AIzaSyAdO2jHcbgcFD-quJ1RBWvqCasoc4CGLO8</string>
	<key>GCM_SENDER_ID</key>
	<string>423506726732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firepost</string>
	<key>PROJECT_ID</key>
	<string>fire-post-a2e4d</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-post-a2e4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423506726732:ios:a9ca57248eeebf92d0c9e9</string>
</dict>
</plist>